/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(assets/MaterialIcons-Regular.woff2) format('woff2'),
       url(assets/MaterialIcons-Regular.woff) format('woff'),
       url(assets/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.mdl-grid {
  max-width: 1000px;
}

.mdl-card__media {
  margin: 0;
}

.mdl-card__media > img {
  max-width: 100%;
}

.mdl-mini-footer {
  background: #efefef;
  color: #000000;
  height: 50px;
}

.mdl-layout__header {
  background: #efefef;
  color: #000;
}

.posm-nav {
  color: #000 !important;
}

.posm-container {
  max-width: 1000px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.posm-container h3 {
  margin-top: 48px;
}

/* POSM stuff */
.posm-small {
  height: 30px;
  margin-right: 15px;
}

.posm-workflow {
  max-width: 100%;
}

.subpageheader {
    margin-top: 60px;
    margin-bottom: 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #000;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500
}
