[submodule "admin"]
	path = admin
	url = https://github.com/AmericanRedCross/posm-admin2
	branch = dist
[submodule "openmapkit-website"]
	path = openmapkit-website
	url = https://github.com/AmericanRedCross/OpenMapKitWebsite.git
	branch = dist
[submodule "posm-gcpi"]
	path = posm-gcpi
	url = git@github.com:posm/posm-gcpi.git
  branch = dist
